<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Credential settings</title>
		{{{pwa_headers}}}

		<link rel="stylesheet" href="/styles/main.css">
		<link rel="stylesheet" href="/styles/credential.css">
	</head>
	<body>
		<div class="container-main">
			<div class="container-page">
				<div class="card container-credential">
					<div class="container-image">
						<img src="/images/app-icons/web/icon-512.png" alt="pi-extender">
					</div>
					<h1 class="card-title">Credential settings</h1>
					<form action="/save-credential" id="form-credential" method="POST">
						<label class="label" for="username">
							<input type="text" class="card" name="username" placeholder="Username" value="{{username}}" required>
							<div class="label-text">Username</div>
						</label>
						<label class="label" for="pwd">
							<input type="password" class="card" name="password" pattern=".{8,}" placeholder="Password" required>
							<div class="label-text">Password</div>
						</label>
						<label class="label" for="pwd_confirm">
							<input type="password" class="card" id="pwd_confirm" pattern=".{8,}" placeholder="Confirm password" required>
							<div class="label-text">Confirm password</div>
						</label>
						<input type="submit" class="card" value="Save">
						<div class="card btn-back">
							<a href="/" class="button">Cancel</a>
						</div>
					</form>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="/scripts/credential.js"></script>
	</body>
</html>
