<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Error {{status}} - Pi Extender</title>
		{{{pwa_headers}}}

		<link rel="stylesheet" href="/styles/main.css">
		<link rel="stylesheet" href="/styles/error.css">
	</head>
	<body>
		<div class="container-page">
			<div class="card container-error">
				<div class="container-image">
					<img src="/images/app-icons/web/icon-512.png" alt="pi-extender">
				</div>
				<h1 class="card-title">Error {{status}}</h1>
				<div class="message-error">
					<pre>{{message}}</pre>
				</div>
			</div>
		</div>
	</body>
</html>
