<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Admin page login</title>
		{{{pwa_headers}}}

		<link rel="stylesheet" href="/styles/main.css">
		<link rel="stylesheet" href="/styles/login.css">
	</head>
	<body>
		<div class="container-main">
			<div class="card form-login">
				<h1 class="card-title">Admin page login</h1>
				<form action="/" method="POST">
					<label class="label" for="username">
						<input type="text" class="card" name="username" placeholder="Username" required>
						<div class="label-text">Username</div>
					</label>
					<label class="label" for="password">
						<input type="password" class="card" name="password" pattern=".{8,}" placeholder="Password" required>
						<div class="label-text">Password</div>
					</label>
					<input type="submit" class="card" value="Login">
				</form>
			</div>
		</div>
	</body>
</html>
