<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Wireless settings</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="/styles/main.css">
		<link rel="stylesheet" href="/styles/wireless.css">
	</head>
	<body>
		<div class="container-main">
			<div class="container-page">
				<div class="card container-wireless">
					<div class="container-image">
						<img src="/images/app-icons/web/icon-512.png" alt="pi-extender">
					</div>
					<h1 class="card-title">Wireless settings</h1>
					<form action="/" method="POST">
						<label class="label" for="username">
							<input type="text" class="card" name="username" placeholder="Username">
							<div class="label-text">Username</div>
						</label>
						<input type="submit" value="Save">
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
