.container-credential {
	width: 100%;
	padding: 20px;
	margin: auto 10px;
	max-width: 300px;
}

.container-credential form {
	margin: 45px auto;
}

.container-credential form input[type="submit"] {
	margin-top: 40px;
}
