.container-status {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 20px 10px;
	margin: auto 15px;
	max-width: 300px;
}

.container-info {
	margin: auto 8px;
}

.info-item {
	margin-bottom: 30px;
}

.info-item h3 {
	text-decoration: underline;
}

.info-item pre {
	text-wrap: wrap;
}
